// http://ionicframework.com/docs/v2/theming/


// App Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files. Setting
// variables before Ionic's Sass will use these variables rather than
// Ionic's default Sass variable values. App Shared Sass imports belong
// in the app.core.scss file and not this file. Sass variables specific
// to the mode belong in either the app.ios.scss or app.md.scss files.


// App Shared Color Variables
// --------------------------------------------------
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.
// Both iOS and MD colors can be further customized if colors
// are different per mode.

$colors: (
    primary: #fff,
    secondary:  #42bd41,
    dark:       #489cd6
  );

$class-list: #489cd6;
$class-list2: #2E86C2;
$class-list3: rgba(46, 134, 194, 0.74);
$response: rgba(255, 255, 255, 0.1);
$red: #a94442;
$red2: #e74c3c;
$grey: rgba(224, 224, 224, 0.29);
$grey2: #dadada;
$grey3: rgba(131,131,131,0.82);
$grey4: #dadada;
$blue1: #25b0e6;
$blue2: #09c;
$blue3: rgb(19, 26, 34);
$blue4: map-get($colors, dark);
$blue5: rgba(46, 134, 194, 0.74);
$blue6: #2E86C2;
$blue7: #6BD5F8;
$yellow: #f1c40f;
$black1: #000;
$login: #34495e;
$green: map-get($colors, secondary);
$transparent: rgba(255, 255, 255, 0);
$background-color: #34495e;
$background: #25b0e6;
$toolbar-background: $blue1;
$text-color: #fff;
$text: #fff;
$text2: #333;
$text3: #09c;
$toolbar-border-color: $blue1;
$toolbar-text-color: $text-color;
$toolbar-inactive-color: $black1;
$sherpa_bg: #161E27; 
$headings-line-height: $background-color;
$font-size: 2rem;
$card-ios-header-color: $text-color;
$card-md-header-color: $text-color;
$card-ios-background-color: $blue3;
$card-ios-border-radius: 0px;
$segment: #09c;
//$segment-button-ios-bg-color-activated: $text-color;
$color-value: #34495e;
$item-ios-body-text-font-size: $font-size;
$item-md-body-text-font-size: $font-size;
$item-ios-paragraph-text-color: $text-color;
$item-md-paragraph-text-color: $text-color;
$item-ios-note-color: #aeacb4;
$item-md-note-color: #aeacb4;
$button-ios-border-radius: 0px;
$button-md-border-radius: 0px;
$checkbox-ios-icon-border-radius: 0px;
$checkbox-md-icon-border-radius: 0px;
$label-ios-text-color: $text-color;
$label-md-text-color: $text-color;
$segment-button-ios-border-radius: 0px;
$item-ios-avatar-size: 5rem;
$item-md-avatar-size: 5rem;
$searchbar-ios-input-search-icon-color: $text-color;
$searchbar-md-input-search-icon-color: $text-color;
$searchbar-ios-input-placeholder-color: $text-color;
$searchbar-md-input-placeholder-color: $text-color;
//$menu-width: 270px;
$picker-ios-background-color: #fff;
$picker-ios-button-text-color: #000 !important;
$searchbar: rgba(0, 0, 0, 0.53);
$time: $grey4;
$close-ticket: map-get($colors, secondary);;
$inst: $blue2;
