// http://ionicframework.com/docs/v2/theming/


// App Shared Variables
// --------------------------------------------------
// Shared Sass variables go in the app.variables.scss file
@import 'app.variables';


// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here

// Used to show the status bar for component demos
$cordova-ios-statusbar-padding:           31px;

// Ionic Windows Sass
// --------------------------------------------------
// Custom App variables must be declared before importing Ionic.
// Ionic will use its default values when a custom variable isn't provided.
@import "ionic.wp";


// App Shared Sass
// --------------------------------------------------
// All Sass files that make up this app goes into the app.core.scss file.
// For simpler CSS overrides, custom app CSS must come after Ionic's CSS.
@import 'app.core';


// App Windows Only Sass
// --------------------------------------------------
// CSS that should only apply to the Windows app


body {
    font-family: -apple-system, "Helvetica Neue", "Roboto", sans-serif;
  }

.button-ticket{
       margin-left: 7px;
       margin-top: 1px;
}

.buttonTicket{
    width: 41px;
    height: 41px;
}

.toolbar-title {
    color: #fff;
    font-size: 1.7rem;
    font-weight: 600;
    text-transform: none;
        text-overflow: clip;
    }

.bar-button-default {
    color: #FFFFFF;
}

.searchbar-search-icon{
    left: 11px;
    top: 1px;
}

.searchbar-input{
    text-align: center;
    padding: 6px 0px 0px 6px;
    background-color: $blue1;
    line-height: 0rem;
}

.invoiceCircle {
//    font-size: 1.4em !important;
}

.button:hover:not(.disable-hover) {
    background-color: $blue6;
}

.login-text {
    font-size: 1.4rem !important;
    line-height: 1.5;
}

.item p {
    font-size: 1.3rem;
    color: $text;
    margin: 0 0 0px;
}

.button {
    color: $text-color;
    font-size: 1.4rem;
    font-weight: normal;
    text-transform: none;
}

.segment-button{
      border-color: $background-color;
      background-color: $segment;
      color: $blue7;
      font-size: 1.3rem;
      font-weight: normal;
      text-transform: none;
      -webkit-box-flex: 1;
      -webkit-flex: 1;
      flex: 1;
      opacity: inherit;
      border-width: 1px;
      border-style: solid;
      opacity: initial;
}

.action-sheet-button{
      color: $blue2;
      font-size: 2rem;
}

.item {
    font-size: 2rem;
}

ion-title{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    text-align: center;
}


.button_circle2 {
    font-size: 2.4em !important;
}

.button_circle {
    font-size: 3.3em !important;
}

.bar-button {
    font-size: 1.7rem;
    font-weight: normal;
    text-transform: none;
}

.ellipsis{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.button{
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0), 0 3px 1px -2px rgba(158, 158, 158, 0), 0 1px 5px 0 rgba(0, 0, 0, 0);}

.action-but{
    padding-top: 0.11em !important;
}

.toggle-icon {
    border: 2px solid $blue2;
}

ion-list .item-inner {
    border-bottom: 1px solid $text;
}

.item-inner {
    border-bottom: 1px solid $text;
}

.toggle-inner {
    background-color: $text;
}

.avatarText{
    line-height: 8px;
    color: $grey2;
    font-size: 1.6rem;
    height: 76px;
}

.picker-wrapper {
    background: $text-color;
}

.picker-toolbar {
    background: $blue6;
}

.picker-columns {
    background-color: $text-color;
}

.picker-prefix, .picker-suffix, .picker-opt-selected {
    color: $blue6;
}


.recipient-calc {
//    width: calc(100% - 40px);
}

.text-input {
    border: 0px solid rgba(0, 0, 0, 0.5);
}

.button-icon-only ion-icon{
    padding: 0.25em 0.25em 0.25em 0.25em !important;
}

ion-datetime {
    max-width: 70%;
}

ion-buttons {
    order: 3;
}

@font-face {
  font-family: "Ionicons";
  src: url("../fonts/ionicons.eot"),
       url("../fonts/ionicons.eot") format("embedded-opentype"), 
       url("../fonts/ionicons.woff2") format("woff2"), url("../fonts/ionicons.woff") format("woff"), url("../fonts/ionicons.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
