.login{
   background-color: $login;
}

.googleStripes {
    list-style-type: none;
    width: 100%;
    height: 5px;
    margin: auto;
    padding-left: 0px;
}

.googleStripes li {
    float: left;
    width: 25%;
    height: 100%;
    background-color: olive;
}

.googleStripes li:nth-child(1) {
    background-color: $red2;
    border-radius: 3px 0 0 0;
}

.googleStripes li:nth-child(2) {
    background-color: map-get($colors, dark);
}

.googleStripes li:nth-child(3) {
    background-color: map-get($colors, secondary);
}

.googleStripes li:nth-child(4) {
    background-color: $yellow;
    border-radius: 0 3px 0 0;
}

.login-margin{
     margin: 0px;
}

.img-padding{
     padding-bottom: 20px;
     padding-top: 30px;
}

.login-text {
    font-size: 1.25rem !important;
}

.text-google {
    line-height: 2.1;
}

.outline{
    font-weight: bold;
    font-size: 1.8rem;
}

.itemTech2 {
    height: 35px !important;
}